:root {
    --background-color: white;
    --nav-background-color: grey;
    --nav-link-color: black;
    --nav-link-boder-color: black;
    --nav-link-hover-background-color: white;
    --nav-link-hover-text-color: red;
}

body {
    background-color: var(--background-color);
    margin: 0px;
}

h1 {
    text-align: center;
}

section {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline; 
    justify-content: center;
}

/* Navigation Styles */
nav {
    margin: 0px;
    background-color: var(--nav-background-color);
}

nav > ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav li {
    border: .1rem solid var(--nav-link-boder-color); 
    margin: 0px;
    text-decoration: none;
    color: var(--nav-link-color);
}

nav li:hover {
    background-color: var(--nav-link-hover-background-color);
    color: var(--nav-link-hover-text-color)
}

nav a {
    padding: 1rem 2rem;
    text-decoration: inherit;
    color: inherit;
}

nav a.active {
    background-color: var(--nav-link-hover-background-color);
    color: var(--nav-link-hover-text-color)
}

/* Table Styling */
.gridControlPanel {
    background-color: grey;
    min-width: 45rem;
    max-width: 75rem;
    margin: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.panelTitle {
    width: 100%;
}

summary {
    text-align: center;
}

td {
    border: .1rem solid var(--nav-link-boder-color); 
    height: 1rem;
    min-width: 3rem;
}

