:root {
    /* Global Styles*/
    --background-color: white;
    --font-color: black;
    /* Navigation Styles */
    --nav-background-color: grey;
    --nav-link-color: black;
    --nav-link-boder-color: black;
    --nav-link-hover-background-color: white;
    --nav-link-hover-text-color: red;
    /* File Editor Styles */
    --grid-panel-color: grey;
    --grid-header-color: whitesmoke;
    --grid-body-color: whitesmoke;
    --grid-font-color: black;
    --grid-border-color: black;
    /* Resource Styles */
    --resource-panel-color: rgba(134, 229, 189, 0.763);
    --resource-listItem-color: rgba(207, 215, 212, 0.9);  
    --resource-listItemBorder-color: rgba(84, 144, 119, 0.763);
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0px;
}

h1 {
    text-align: center;
}

section {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline; 
    justify-content: center;
    text-align: center;
}

/* Navigation Styles */
nav {
    margin: 0px;
    background-color: var(--nav-background-color);
}

nav > ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav li {
    border: .1rem solid var(--nav-link-boder-color); 
    margin: 0px;
    text-decoration: none;
    color: var(--nav-link-color);
}

nav li:hover {
    background-color: var(--nav-link-hover-background-color);
    color: var(--nav-link-hover-text-color)
}

nav a {
    padding: 1rem 2rem;
    text-decoration: inherit;
    color: inherit;
}

nav a.active {
    background-color: var(--nav-link-hover-background-color);
    color: var(--nav-link-hover-text-color)
}

/* Table Styling */
.gridControlPanel {
    background-color: var(--grid-panel-color);
    min-width: 45rem;
    max-width: 75rem;
    margin: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.panelTitle {
    width: 100%;
}

summary {
    text-align: center;
}

td {
    border: .1rem solid var(--grid-border-color); 
    height: 1rem;
    min-width: 3rem;
    background-color: var(--grid-body-color);
}

th {
    border: .25rem solid var(--grid-border-color); 
    height: 1rem;
    min-width: 3rem;
    background-color: var(--grid-header-color);
}

.fileEditorTop {
    text-align: center;
    padding: 2rem;
}

#gridHolder {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* Resource Styling */
.resourceSection > img {
    max-width: 15rem;
    min-width: 8rem;
    height: auto;
}

#resourcesLists {
    display: flex;
    flex-wrap: wrap;
}

.resourceSection {
    display: flex;
    flex: 1 10 0px; 
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    width: fit-content;
    margin: 1rem;
    background-color: var(--resource-panel-color);
    text-align: left;
    border-style: inset;
    border-radius: 10%;
}

.resourceSection > ul {
    list-style: none;
}

.resourceSection > ul > li {
    padding: 1rem;
    margin: .5rem;
    border:solid;
    border-radius: 1rem;
    border-color: var(--resource-listItemBorder-color);
    background-color: var(--resource-listItem-color);
}

/* Settings Styles */
#styleSettings {
    display: flex;
    flex-wrap: wrap;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

section > label {
    padding: .5rem;
}